.add-card {
  padding: 12px 0 20px;

  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 23px 37px 27px;

    &--last {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 18px;
  }
}

.add-card__table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    width: 615px;
  }
}

.add-card__sm {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.add-card__md {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;

    vertical-align: middle;
  }
}

.add-card__table-head {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $grey-300;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    font-size: 20px;
    line-height: 20px;

    width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;

    width: 325px;
  }
}

.add-card__field {
  padding: 0;
  padding-bottom: 15px;

  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 14px;
  color: $text-color;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 5px;

    width: 70%;

    font-size: 16px;
    line-height: 20px;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;

    width: 235px;

    text-align: left;
  }
}

.add-card__value {
  width: 50%;

  font-family: $font-family-secondary;
  vertical-align: top;
  text-align: right;

  @media (min-width: $tablet-width) {
    padding-top: 5px;

    width: 30%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;

    font-size: 16px;
    line-height: 20px;

    width: 50px;
  }
}
