.add-card {
  padding: 12px 0 20px;

  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 25px 35px 27px;

    &--last {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 18px;
  }
}

.add-card__table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;

    margin: 0;

    width: 615px;
  }
}

.add-card__table th {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $grey-300;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    font-size: 20px;
    line-height: 20px;

    width: 345px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.add-card__table td {
  padding: 0;
  padding-bottom: 15px;

  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 14px;
  color: $text-color;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 3px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.add-card__field {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 245px;

    text-align: right;
  }
}

.add-card__value {
  width: 50%;

  text-align: right;

  @media (min-width: $tablet-width) {
    width: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 45px;
  }
}
