.add-product-card {
  padding: 12px 0 17px;

  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 25px 35px 26px;

    &--last {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.add-product-card__table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;

    margin-bottom: 24px;

  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin: 0;
    width: 615px;
  }
}

.add-product-card__table th {
  padding-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $grey-300;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 345px;
  }
}

.add-product-card__table td {
  padding: 0;
  padding-bottom: 15px;

  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 14px;
  color: $text-color;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-left: 50px;
    padding-top: 3px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    text-align: left;
    width: 245px;
  }
}

.add-product-card__table td:nth-child(2n) {
  padding-left: 10px;

  width: 60px;
}
