.add-product {
  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 85px;
    padding-left: 40px;
    padding-right: 40px;

    width: 1300px;
  }
}

.add-product__row {
  padding: 0 20px 38px;

  width: 100%;

  max-width: 1300px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
  }
}

.add-product__title {
  position: relative;
  display: inline-flex;
  text-align: center;

  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: calc(100% + 3px);
    width: 100vw;
    height: 3px;
    background-color: $green;
    display: inline-flex;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding-top: 0;
    padding-left: 65px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      right: 93%;
      width: 100vw;
      height: 3px;
      background-color: $green;
      display: inline-flex;
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: calc(100% + 17px);
      width: 100vw;
      height: 3px;
      background-color: $green;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    &::before {
      right: 375px;
    }

    &::after {
      left: calc(100% + 36px);
      width: 100vw;
      height: 3px;
      background-color: $green;
    }
  }
}

.add-product__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    width: 895px;
  }
}

.add-product__img {
  position: relative;
  display: block;

  width: 100%;
  min-height: 289px;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;

    top: 65px;
    left: 50%;

    margin-left: -27px;
    display: block;
    width: 55px;
    height: 60px;
    background: url("../img/icon-gift.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      left: 118px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.add-product__text {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-top: 190px;

  width: 165px;

  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 70px;
    padding-top: 73px;
    padding-right: 120px;
    display: flex;
    margin-left: auto;

    width: 285px;

    text-align: left;

    &::before {
      left: 90px;

      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    padding-top: 187px;

    width: 165px;

    text-align: center;
  }
}

.add-product__link {
  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
    margin-left: auto;
  }
}
