.copyright {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;

  padding-top: 20px;

  &:active {
    opacity: 0.3;
  }

  cursor: pointer;

  @media (min-width: $tablet-width) {
    align-items: center;

    padding: 0;
  }
}

.copyright__text {
  margin-top: 10px;

  font-family: $font-family-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1px;

  @media (min-width: $tablet-width) {
    margin: 0;

    letter-spacing: -0.3px;
  }
}

.copyright__link {
  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}

.copyright__icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }
}
