.intro {
  margin-bottom: 23px;
  background-image: linear-gradient(to bottom, #63a73a 0%, #63a73a 63.9%, #ffffff 63.1%, #ffffff 100%);

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.intro__wrapper {
  position: relative;

  margin: 0 auto;

  width: 320px;
  min-height: 480px;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    display: block;

    width: 320px;
    height: 305px;

    background-color: $green;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    padding: 0 30px 505px;

    width: 100%;

    background-image: none;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-bottom: 187px;
    padding: 0;
    padding-left: 120px;

    width: 1300px;

    &::before {
      right: 0;

      display: block;

      width: 50%;
      height: 696px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 720px auto;
      background-position: 0 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}

.intro__container {
  position: relative;
  padding-top: 27px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 85px;
    padding-top: 60px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 115px;
  }
}

.intro__title {
  margin: 0 auto 20px;
  padding: 0;

  min-height: 75px;

  font-weight: 400;
  font-size: 36px;
  color: $white;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 40px;

    width: 450px;

    font-size: 60px;
    line-height: 60px;
    color: $black;
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    margin-left: 3px;

    width: 450px;

    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
    margin-left: 0;

    left: 0;
  }
}

.intro__img {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;

    top: 260px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    top: 33px;
    right: 260px;
  }
}

.intro__link {
  margin: 0 auto;

  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    width: 245px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
