.social {
  padding: 22px 15px 14px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;

    border: none;
  }
}

.social__list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 280px;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;

    padding-left: 45px;

    width: 200px;
  }
}

.social__item {
  position: relative;

  margin-right: 39px;
  margin-bottom: 5px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 15px;

    width: 36px;
    height: 36px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social__icon {
  fill: #666666;

  &--vk {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
