<section class="add-product">
  <h2 class="add-product__title">Дополнительные товары</h2>
  <div class="add-product__row">
    <ul class="add-product__list">
      <li class="add-product__item">
        <article class="add-card">
          <table class="add-card__table">
            <thead>
              <tr>
                <th class="add-card__table-head">Сахарозаменитель</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="add-card__field">1 упаковка (100 г)</td>
                <td class="add-card__value">200 Р.</td>
              </tr>
            </tbody>
          </table>
          <a class="btn add-product__link" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-card">
          <table class="add-card__table">
            <thead>
              <tr>
                <th>Питьевая вода</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="add-card__field">5 литров</td>
                <td class="add-card__value">50 Р.</td>
              </tr>
            </tbody>
          </table>
          <a class="btn add-product__link" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-card">
          <table class="add-card__table">
            <thead>
              <tr>
                <th>Молоко</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="add-card__field">1 литр</td>
                <td class="add-card__value">100 Р.</td>
              </tr>
            </tbody>
          </table>
          <a class="btn add-product__link" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-card add-card--last">
          <table class="add-card__table">
            <thead>
              <tr>
                <th>Витамины</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="add-card__field">1 упаковка (30 г)</td>
                <td class="add-card__value">300 Р.</td>
              </tr>
            </tbody>
          </table>
          <a class="btn add-product__link" href="#">Заказать</a>
        </article>
      </li>
    </ul>
    <div class="add-product__img">
      <p class="add-product__text">Закажите все и&nbsp;получите чехол для кота в подарок!</p>
    </div>
  </div>
</section>
