<section class="add-product">
  <h2 class="add-product__title">Дополнительные товары</h2>
  <div class="add-product__row">
    <ul class="add-product__list">
      <li class="add-product__item">
        <article class="add-product-card">
          <table class="add-product-card__table">
            <thead>
              <tr>
                <th>Сахарозаменитель</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 упаковка (100 г)</td>
                <td>200 Р.</td>
              </tr>
            </tbody>
          </table>
          <a class="btn" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-product-card">
          <table class="add-product-card__table">
            <thead>
              <tr>
                <th>Питьевая вода</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5 литров</td>
                <td>50 Р.</td>
              </tr>
            </tbody>
          </table>
          <a class="btn" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-product-card">
          <table class="add-product-card__table">
            <thead>
              <tr>
                <th>Молоко</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 литр</td>
                <td>100 Р.</td>
              </tr>
            </tbody>
          </table>
          <a class="btn" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-product-card">
          <table class="add-product-card__table">
            <thead>
              <tr>
                <th>Витамины</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 упаковка (30 г)</td>
                <td>300 Р.</td>
              </tr>
            </tbody>
          </table>
          <a class="btn" href="#">Заказать</a>
        </article>
      </li>
    </ul>
    <div class="add-product__img">
      <p class="add-product__text">Закажите все и&nbsp;получите чехол для кота в подарок!</p>
    </div>
  </div>
</section>
