<section class="add-product">
  <h2 class="add-product__title">Дополнительные товары</h2>
  <div class="add-product__row">
    <ul class="add-product__list">
      <li class="add-product__item">
        <article class="add-card">
          <h3 class="visually-hidden">Сахарозаменитель</h3>
          <table class="add-card__table">
            <tr>
              <td class="add-card__table-head">Сахарозаменитель</td>
              <td class="add-card__field add-card__md">1 упаковка (100 г)</td>
              <td class="add-card__value add-card__md">200 Р.</td>
            </tr>
            <tr>
              <td class="add-card__field add-card__sm">1 упаковка (100 г)</td>
              <td class="add-card__value add-card__sm">100 Р.</td>
            </tr>
          </table>
          <a class="btn add-product__link" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-card">
          <h3 class="visually-hidden">Питьевая вода</h3>
          <table class="add-card__table">
            <tr>
              <td class="add-card__table-head">Питьевая вода</td>
              <td class="add-card__field add-card__md">5 литров</td>
              <td class="add-card__value add-card__md">50 Р.</td>
            </tr>
            <tr>
              <td class="add-card__field add-card__sm">5 литров</td>
              <td class="add-card__value add-card__sm">50 Р.</td>
            </tr>
          </table>
          <a class="btn add-product__link" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-card">
          <h3 class="visually-hidden">Молоко</h3>
          <table class="add-card__table">
            <tr>
              <td class="add-card__table-head">Молоко</td>
              <td class="add-card__field add-card__md">1 литр</td>
              <td class="add-card__value add-card__md">100 Р.</td>
            </tr>
            <tr>
              <td class="add-card__field add-card__sm">1 литр</td>
              <td class="add-card__value add-card__sm">100 Р.</td>
            </tr>
          </table>
          <a class="btn add-product__link" href="#">Заказать</a>
        </article>
      </li>
      <li class="add-product__item">
        <article class="add-card add-card--last">
          <h3 class="visually-hidden">Витамины</h3>
          <table class="add-card__table">
            <tr>
              <td class="add-card__table-head">Витамины</td>
              <td class="add-card__field add-card__md">1 упаковка (30 г)</td>
              <td class="add-card__value add-card__md">300 Р.</td>
            </tr>
            <tr>
              <td class="add-card__field add-card__sm">1 упаковка (30 г)</td>
              <td class="add-card__value add-card__sm">300 Р.</td>
            </tr>
          </table>
          <a class="btn add-product__link" href="#">Заказать</a>
        </article>
      </li>
    </ul>
    <div class="add-product__img">
      <p class="add-product__text">Закажите все и&nbsp;получите чехол для кота в подарок!</p>
    </div>
  </div>
</section>
