<section class="example">

  <div class="example__container">

    <div class="example__description">
      <h2 class="example__title">Живой пример</h2>
      <p class="example__text">Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.</p>
      <div class="example__result-wrapper">
        <ul class="example__result-list result-list">
          <li class="result-list__item result-list__item--weight">
            <div class="result-list__value">5 кг</div>
            <p class="result-list__text">снижение веса</p>
          </li>
          <li class="result-list__item result-list__item--time">
            <div class="result-list__value">60 дней</div>
            <p class="result-list__text result-list__text--time">затрачено времени</p>
          </li>
        </ul>
        <p class="example__result-text">затраты на питание:<span>15 000 руб.</span></p>
      </div>
    </div><!-- /example__description -->

    <div class="example__slider">

      <div class="example__image-container">

        <div class="example__image example__image--1">

          <picture>

            <source type="image/webp" media="(min-width: 1300px)" srcset="img/before-desktop@1x.webp 1x, img/before-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)" srcset="img/before-tablet@1x.webp 1x, img/before-tablet@2x.webp 2x">
            <source type="image/webp" srcset="img/before-mobile@1x.webp 1x, img/before-mobile@2x.webp 2x">

            <source media="(min-width: 1300px)" srcset="img/before-desktop@1x.png 1x, img/before-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="img/before-tablet@1x.png 1x, img/before-tablet@2x.png 2x">
            <img class="example__img example__img--before" src="img/before-mobile@1x.png" srcset="img/before-mobile@2x.png 2x" alt="Кот Борис до похудения">

          </picture>

        </div>
        <div class="example__image example__image--2">

          <picture>

            <source type="image/webp" media="(min-width: 1300px)" srcset="img/after-desktop@1x.webp 1x, img/after-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)" srcset="img/after-tablet@1x.webp 1x, img/after-tablet@2x.webp 2x">
            <source type="image/webp" srcset="img/after-mobile@1x.webp 1x, img/after-mobile@2x.webp 2x">

            <source media="(min-width: 1300px)" srcset="img/after-desktop@1x.png 1x, img/after-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="img/after-tablet@1x.png 1x, img/after-tablet@2x.png 2x">
            <img class="example__img example__img--after" src="img/after-mobile@1x.png" srcset="img/after-mobile@2x.png 2x" alt="Кот Борис после похудения">

          </picture>

        </div>

      </div>

      <div class="example__toggle-bar">
        <span class="example__status example__status--before">Было</span>
        <div class="example__scale">
          <button class="example__toggle"></button>
        </div>
        <span class="example__status example__status--after">Стало</span>
      </div>

    </div><!-- /example__slider -->

  </div><!-- /example__container -->

</section>
