<section class="features">
  <h2 class="features__title">Как это работает</h2>
  <ul class="features__list">
    <li class="features__item features__item--1">
      <p class="features__text">Функциональное питание содержит только полезные питательные вещества.</p>
    </li>
    <li class="features__item features__item--2">
      <p class="features__text">Выпускается в виде порошка, который нужно лишь залить кипятком и готово.</p>
    </li>
    <li class="features__item features__item--3">
      <p class="features__text">Замените один-два приема обычной еды на наше функциональное питание.</p>
    </li>
    <li class="features__item features__item--4">
      <p class="features__text features__text--4">Уже через месяц наслаждайтесь изменениями к лучшему вашего&nbsp;питомца!</p>
    </li>
  </ul>
</section>
