<div class="footer-bottom">
  <div class="footer-bottom__container">
    <a class="footer-bottom__logo" href="#">
      <span class="visually-hidden">cat-energy</span>
      <img class="footer-bottom__img" src="img/logo-footer.svg" width="128" height="24" alt="Логотип cat-energy">
    </a>
    <div class="footer-bottom__social social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link" href="https://www.twitter.com/htmlacademy">
            <span class="visually-hidden">Мы в контакте</span>
            <svg class="social__icon social__icon--vk" width="22" height="12">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vk"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.facebook.com/htmlacademy">
            <span class="visually-hidden">Мы в инстраграмме</span>
            <svg class="social__icon social__icon--insta" width="16" height="16">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.youtube.com/htmlacademy">
            <span class="visually-hidden">Мы в фейсбуке</span>
            <svg class="social__icon social__icon--fb" width="10" height="19">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fb"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom__copyright copyright">
      <b class="copyright__text">HTML Academy</b>
      <a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
        <span class="visually-hidden">HTML Academy</span>
        <svg class="copyright__icon" width="27" height="34">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#htmlacademy"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
