<section class="intro">
  <div class="intro__wrapper">
    <div class="intro__container">
      <h1 class="intro__title">Функциональное питание для котов</h1>
      <p class="intro__text">Занялся собой? Займись котом!</p>
      <div class="intro__img">
        <picture>
          <source type="image/webp" media="(min-width: 1300px)" srcset="img/index-can-desktop@1x.webp, img/index-can-desktop@2x.webp 2x">
          <source type="image/webp" media="(min-width: 768px)" srcset="img/index-can-tablet@1x.webp, img/index-can-tablet@2x.webp 2x">
          <source type="image/webp" srcset="img/index-can-mobile@1x.webp, img/index-can-mobile@2x.webp 2x">
          <source media="(min-width: 1300px)" srcset="img/index-can-desktop@1x.png, img/index-can-desktop@2x.png 2x">
          <source media="(min-width: 768px)" srcset="img/index-can-tablet@1x.jpg, img/index-can-tablet@2x.jpg 2x">
          <img src="img/index-can-mobile@1x.png" srcset="img/index-can-mobile@2x.png" alt="cat-energy">
        </picture>
      </div>
      <a class="intro__link" href="#">Подобрать программу</a>
    </div>
  </div>
</section>
