<section class="product">
  <h2 class="visually-hidden">Виды программ</h2>
  <div class="product__list">
    <div class="product__item">
      <h3 class="product__title">Похудение</h3>
      <p class="product__text">Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.</p>
      <a class="product__link" href="#">Каталог slim</a>
      <div class="product__img">
        <svg class="product__icon product__icon--slim">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cat-slim"></use>
        </svg>
      </div>
    </div>
    <div class="product__item">
      <h3 class="product__title">Набор массы</h3>
      <p class="product__text product__text--pro">Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
      <a class="product__link" href="#">Каталог pro</a>
      <div class="product__img">
        <svg class="product__icon product__icon--pro">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cat-pro"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
