.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;

  margin: 0 auto;
  padding: 10px 20px;

  width: 100%;

  font-family: inherit;
  font-weight: 400;

  text-transform: uppercase;

  color: $white;
  background-color: $green;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.title-line {
  position: relative;
  display: flex;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-right: 18px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1;

  color: $text-color;
  background-color: #ffffff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;

    width: 100vw;
    height: 3px;

    background-color: $green;
    z-index: -1;
  }

  &::before {
    background-color: transparent;
    right: 0;
  }

  &::after {
    left: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    padding-right: 40px;
    padding-left: 40px;


    font-size: 36px;
    line-height: 36px;

    &::before {
      background-color: $green;
      top: 50%;
      right: 0;
    }
  }
}

.form-label {
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form-control {
  padding: 17px 12px 13px;

  width: 100%;

  background-color: $white;

  border: 2px solid $grey-200;
  border-radius: 2px;
  outline: 0;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: $text-color;
  }

  &:invalid {
    border-color: #ff8282;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 12px 13px 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 18px;
  }
}
